table {
  tbody {
    tr[tableCollapseDirective] {
      cursor: pointer;
    }
    input,
    select {
      width: 100%;
      max-width: 150px;
    }
  }
}

.text-danger {
  max-width: 150px;
}

.user {
  vertical-align: middle;
  cursor: pointer;
}
