<h2 class="text-center">Login</h2>
<hr />
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-50 m-auto">
  <div class="mb-3">
    <atom-input-with-label
      [labelText]="'Email'"
      formControlName="email"
    ></atom-input-with-label>
  </div>
  <div class="mb-3">
    <atom-input-with-label
      [inputType]="'password'"
      [labelText]="'Password'"
      [inputId]="'password'"
      formControlName="password"
    ></atom-input-with-label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
