<h2 class="text-center">Login</h2>
<hr />
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-50 m-auto">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />
    <div *ngIf="getLoginForm.email.errors && getLoginForm.email.touched">
      <p class="text-danger" *ngIf="getLoginForm.email.errors.required">
        Email is required
      </p>
      <p class="text-danger" *ngIf="getLoginForm.email.errors.emil">
        Not valid email
      </p>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      required
      formControlName="password"
    />
    <div *ngIf="getLoginForm.password.errors && getLoginForm.password.touched">
      <p class="text-danger" *ngIf="getLoginForm.password.errors.required">
        Password is required
      </p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
