<h2 class="text-center">Sign-up</h2>
<hr />
<form
  [formGroup]="mainInfo"
  (ngSubmit)="changePage('addressInfo')"
  class="row g-3 w-50 m-auto"
  *ngIf="page === 'mainInfo'"
>
  <h4>Main info</h4>
  <hr />
  <div class="col-12">
    <label for="firstName" class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      required
      formControlName="firstName"
    />
    <div
      *ngIf="
        getMainInfoForm.firstName.errors && getMainInfoForm.firstName.touched
      "
    >
      <p class="text-danger" *ngIf="getMainInfoForm.firstName.errors?.required">
        First name is required
      </p>
      <p
        class="text-danger"
        *ngIf="getMainInfoForm.firstName.errors?.minlength"
      >
        First name must be at least 3 character
      </p>
    </div>
  </div>
  <div class="col-12">
    <label for="lastName" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      required
      formControlName="lastName"
    />
    <div
      *ngIf="
        getMainInfoForm.lastName.errors && getMainInfoForm.lastName.touched
      "
    >
      <p class="text-danger" *ngIf="getMainInfoForm.lastName.errors?.required">
        Last name is required
      </p>
      <p class="text-danger" *ngIf="getMainInfoForm.lastName.errors?.minlength">
        Last name must be at least 3 character
      </p>
    </div>
  </div>
  <div class="col-12">
    <label for="userName" class="form-label">User name</label>
    <input
      type="text"
      class="form-control"
      id="userName"
      required
      formControlName="userName"
    />
    <div
      *ngIf="
        getMainInfoForm.userName.errors && getMainInfoForm.userName.touched
      "
    >
      <p class="text-danger" *ngIf="getMainInfoForm.userName.errors?.required">
        User name is required
      </p>
      <p class="text-danger" *ngIf="getMainInfoForm.userName.errors?.minlength">
        User name must be at least 3 character
      </p>
    </div>
  </div>
  <div class="col-12">
    <label for="phone" class="form-label">Phone</label>
    <input
      type="tel"
      class="form-control"
      id="phone"
      required
      formControlName="phone"
    />
    <div *ngIf="getMainInfoForm.phone.errors && getMainInfoForm.phone.touched">
      <p class="text-danger" *ngIf="getMainInfoForm.phone.errors?.required">
        Phone number is required
      </p>
      <p class="text-danger" *ngIf="getMainInfoForm.phone.errors?.pattern">
        Phone number can only be digits
      </p>
      <p
        class="text-danger"
        *ngIf="
          (getMainInfoForm.phone.errors?.minlength ||
            getMainInfoForm.phone.errors?.maxlength) &&
          !getMainInfoForm.phone.errors?.pattern
        "
      >
        Phone number must be between 10 and 13 digits
      </p>
    </div>
  </div>
  <div class="col-12">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      required
      formControlName="email"
    />
    <div *ngIf="getMainInfoForm.email.errors && getMainInfoForm.email.touched">
      <p class="text-danger" *ngIf="getMainInfoForm.email.errors?.required">
        Email is required
      </p>
      <p class="text-danger" *ngIf="getMainInfoForm.email.errors?.email">
        Not valid email
      </p>
    </div>
  </div>
  <div class="col-6">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      required
      formControlName="password"
    />
    <div
      *ngIf="
        getMainInfoForm.password.errors && getMainInfoForm.password.touched
      "
    >
      <p class="text-danger" *ngIf="getMainInfoForm.password.errors?.required">
        Password is required
      </p>
      <p class="text-danger" *ngIf="getMainInfoForm.password.errors?.minlength">
        Password must be at least 6 character
      </p>
    </div>
  </div>
  <div class="col-6">
    <label for="confirmPassword" class="form-label">Confirm password</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      required
      formControlName="confirmPassword"
    />
    <div
      *ngIf="
        getMainInfoForm.confirmPassword.errors &&
        getMainInfoForm.confirmPassword.touched
      "
    >
      <p
        class="text-danger"
        *ngIf="getMainInfoForm.confirmPassword.errors?.required"
      >
        You must confirm the password
      </p>
      <p
        class="text-danger"
        *ngIf="getMainInfoForm.confirmPassword.errors?.mismatch"
      >
        Password mismatch
      </p>
    </div>
  </div>
  <div class="col-12">
    <button
      type="button"
      [disabled]="mainInfo.invalid"
      (click)="changePage('addressInfo')"
      class="btn btn-primary"
    >
      Next
    </button>
  </div>
</form>
<form
  class="row w-50 m-auto"
  [formGroup]="addressInfo"
  *ngIf="page === 'addressInfo'"
>
  <div
    formArrayName="userAddress"
    *ngFor="let _ of getAddressInfoArray.controls; let i = index"
  >
    <div class="address row g-3 mb-3" [formGroupName]="i">
      <div class="col-12 d-flex justify-content-between">
        <h4>Address info</h4>
        <i
          class="material-icons close"
          *ngIf="getAddressInfoArray.length > 1"
          (click)="deleteAddressControl(i)"
          >close</i
        >
      </div>
      <hr />
      <div class="col-12">
        <label for="addressType-{{ i }}" class="form-label">Address type</label>
        <select
          name="addressType-{{ i }}"
          id="addressType-{{ i }}"
          class="form-select"
          formControlName="addressType"
        >
          <option disabled selected>Choose address type</option>
          <option value="Shipping Address">Shipment Address</option>
          <option value="Billing Address">Billing Address</option>
          <option value="Home Address">Home Address</option>
        </select>
        <div
          *ngIf="
            getAddressControls[i].get('addressType')?.errors &&
            getAddressControls[i].get('addressType')?.touched
          "
        >
          <p
            class="text-danger"
            *ngIf="getAddressControls[i].get('addressType')?.errors?.required"
          >
            Address type is required
          </p>
        </div>
      </div>
      <div class="col-12">
        <label for="address" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          required
          formControlName="address"
        />
        <div
          *ngIf="
            getAddressControls[i].get('address')?.errors &&
            getAddressControls[i].get('address')?.touched
          "
        >
          <p
            class="text-danger"
            *ngIf="getAddressControls[i].get('address')?.errors?.required"
          >
            Address is required
          </p>
        </div>
      </div>
      <div class="col-6">
        <label for="city" class="form-label">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          required
          formControlName="city"
        />
        <div
          *ngIf="
            getAddressControls[i].get('city')?.errors &&
            getAddressControls[i].get('city')?.touched
          "
        >
          <p
            class="text-danger"
            *ngIf="getAddressControls[i].get('city')?.errors?.required"
          >
            City is required
          </p>
        </div>
      </div>
      <div class="col-6">
        <label for="country" class="form-label">Country</label>
        <select
          name="country"
          id="country"
          class="form-select"
          formControlName="country"
        >
          <option disabled selected>Choose country</option>
          <option *ngFor="let country of countries" [value]="country.name">
            {{ country.name }}
          </option>
        </select>
        <div
          *ngIf="
            getAddressControls[i].get('country')?.errors &&
            getAddressControls[i].get('country')?.touched
          "
        >
          <p
            class="text-danger"
            *ngIf="getAddressControls[i].get('country')?.errors?.required"
          >
            Country is required
          </p>
        </div>
      </div>
      <div class="col-12">
        <label for="postalCode" class="form-label">Postal code</label>
        <input
          type="text"
          class="form-control"
          id="postalCode"
          required
          formControlName="postalCode"
        />
        <div
          *ngIf="
            getAddressControls[i].get('postalCode')?.errors &&
            getAddressControls[i].get('postalCode')?.touched
          "
        >
          <p
            class="text-danger"
            *ngIf="getAddressControls[i].get('postalCode')?.errors?.required"
          >
            Postal code is required
          </p>
          <p
            class="text-danger"
            *ngIf="getAddressControls[i].get('postalCode')?.errors?.pattern"
          >
            Postal code can only be digits
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    <button
      (click)="addAddressGroup()"
      type="button"
      class="btn btn-outline-success"
    >
      Add another address
    </button>
  </div>
  <div class="col-12">
    <button
      type="button"
      class="btn btn-primary me-2"
      (click)="changePage('mainInfo')"
    >
      Previous
    </button>
    <button
      type="button"
      [disabled]="addressInfo.invalid"
      class="btn btn-primary"
      (click)="changePage('userInfo')"
    >
      Next
    </button>
  </div>
</form>
<div class="step row g-3 w-50 m-auto" *ngIf="page === 'userInfo'">
  <app-user-info
    [mainInfo]="mainInfo.value"
    [addressInfo]="addressInfo.value"
  ></app-user-info>

  <div class="col-12">
    <button
      type="button"
      class="btn btn-primary"
      (click)="changePage('addressInfo')"
    >
      Previous
    </button>
    <button type="button" class="btn btn-primary mx-2" (click)="onCancel()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="onSave()">
      Save
    </button>
  </div>
</div>
