<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100 shadow"
  style="width: 280px"
>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngIf="isAuth$ | async">
      <a
        routerLink="/user-info"
        routerLinkActive="active"
        class="nav-link text-white"
        aria-current="page"
      >
        <i class="material-icons ms-auto">info</i>
        <span class="ms-2">User info</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="isAuth$ | async">
      <a
        routerLink="/create-user"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        <i class="material-icons ms-auto">add</i>
        <span class="ms-2">Create user</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/find-user"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        <i class="material-icons ms-auto">search</i>
        <span class="ms-2">Find user</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/tax"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        <i class="material-icons ms-auto">attach_money</i>
        <span class="ms-2">Tax calculator</span>
      </a>
    </li>
  </ul>
</div>
