<div class="container mb-3">
  <div class="" *ngIf="users.length > 0">
    <div class="row bg-light">
      <div class="col-2 border py-2 py-2">
        <atom-table-head-label
          text="First Name"
          [sortBy]="sortBy"
          [sortOrder]="sortOrder"
          controlName="firstName"
          (click)="sort('firstName')"
        ></atom-table-head-label>
      </div>
      <div class="col-2 border py-2">
        <atom-table-head-label
          text="Last Name"
          [sortBy]="sortBy"
          [sortOrder]="sortOrder"
          controlName="lastName"
          (click)="sort('lastName')"
        ></atom-table-head-label>
      </div>
      <div class="col-2 border py-2">
        <atom-table-head-label
          text="User Name"
          [sortBy]="sortBy"
          [sortOrder]="sortOrder"
          controlName="userName"
          (click)="sort('userName')"
        ></atom-table-head-label>
      </div>
      <div class="col-2 border py-2">
        <atom-table-head-label
          text="Email"
          [sortBy]="sortBy"
          [sortOrder]="sortOrder"
          controlName="email"
          (click)="sort('email')"
        ></atom-table-head-label>
      </div>
      <div class="col-2 border py-2">
        <atom-table-head-label
          text="Phone"
          [sortBy]="sortBy"
          [sortOrder]="sortOrder"
          controlName="phone"
          (click)="sort('phone')"
        ></atom-table-head-label>
      </div>
      <div class="col-2 border py-2"><span class="actions">Actions</span></div>
    </div>
    <organism-table-row
      *ngFor="let user of users$ | async"
      [user]="user"
    ></organism-table-row>
  </div>
</div>
