<div class="container">
  <div class="" *ngIf="users.length > 0">
    <form [formGroup]="forms">
      <table class="table table-striped user-select-none">
        <thead>
          <tr>
            <th scope="col">
              <span class="material-icons">expand_less</span> First Name
            </th>
            <th scope="col">
              <span class="material-icons">expand_less</span> Last Name
            </th>
            <th scope="col">
              <span class="material-icons">expand_less</span> User Name
            </th>
            <th scope="col">
              <span class="material-icons">expand_less</span> Email
            </th>
            <th scope="col">
              <span class="material-icons">expand_less</span> Phone
            </th>
            <th scope="col" *ngIf="isAuth$ | async">Actions</th>
          </tr>
        </thead>
        <tbody formArrayName="foundUsers">
          <ng-container
            *ngFor="let user of getFoundUsers.controls; let i = index"
          >
            <tr
              *ngIf="
                (edit$ | async)?.userId === user.value.id &&
                (edit$ | async)?.addressIndex === null
              "
              [formGroupName]="i"
              style="vertical-align: middle"
            >
              <td>
                <input
                  class="form-control"
                  type="text"
                  formControlName="firstName"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  formControlName="lastName"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  formControlName="userName"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  formControlName="email"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  formControlName="phone"
                />
              </td>

              <td *ngIf="isAuth$ | async">
                <button
                  type="button"
                  class="btn btn-outline-success me-2"
                  [disabled]="getFoundUsers.at(i).invalid"
                  (click)="onSave(user.value.id, i)"
                >
                  Save
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onCancel(i)"
                >
                  Cancel
                </button>
              </td>
            </tr>
            <tr *ngIf="getFoundUsers.at(i).invalid">
              <td>
                <div *ngIf="getFoundUsers.at(i).get('firstName')?.errors">
                  <p
                    class="text-danger"
                    *ngIf="
                      getFoundUsers.at(i).get('firstName')?.errors?.required
                    "
                  >
                    First name is required
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="
                      getFoundUsers.at(i).get('firstName')?.errors?.minlength
                    "
                  >
                    First name must be at least 3 character
                  </p>
                </div>
              </td>
              <td>
                <div *ngIf="getFoundUsers.at(i).get('lastName')?.errors">
                  <p
                    class="text-danger"
                    *ngIf="
                      getFoundUsers.at(i).get('lastName')?.errors?.required
                    "
                  >
                    Last name is required
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="
                      getFoundUsers.at(i).get('lastName')?.errors?.minlength
                    "
                  >
                    Last name must be at least 3 character
                  </p>
                </div>
              </td>
              <td>
                <div *ngIf="getFoundUsers.at(i).get('userName')?.errors">
                  <p
                    class="text-danger"
                    *ngIf="
                      getFoundUsers.at(i).get('userName')?.errors?.required
                    "
                  >
                    User name is required
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="
                      getFoundUsers.at(i).get('userName')?.errors?.minlength
                    "
                  >
                    User name must be at least 3 character
                  </p>
                </div>
              </td>
              <td>
                <div *ngIf="getFoundUsers.at(i).get('email')?.errors">
                  <p
                    class="text-danger"
                    *ngIf="getFoundUsers.at(i).get('email')?.errors?.required"
                  >
                    Email is required
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="getFoundUsers.at(i).get('email')?.errors?.email"
                  >
                    Not valid email
                  </p>
                </div>
              </td>
              <td>
                <div *ngIf="getFoundUsers.at(i).get('phone')?.errors">
                  <p
                    class="text-danger"
                    *ngIf="getFoundUsers.at(i).get('phone')?.errors?.required"
                  >
                    Phone is required
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="
                      (getFoundUsers.at(i).get('phone')?.errors?.minlength ||
                        getFoundUsers.at(i).get('phone')?.errors?.maxlength) &&
                      !getFoundUsers.at(i).get('phone')?.errors?.pattern
                    "
                  >
                    Phone number must be between 10 and 17 digits
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="getFoundUsers.at(i).get('phone')?.errors?.pattern"
                  >
                    Phone number can only be digits
                  </p>
                </div>
              </td>
            </tr>
            <tr
              [formGroupName]="i"
              class="user"
              (click)="openUser(user.value.id)"
              *ngIf="
                (edit$ | async)?.userId !== user.value.id ||
                ((edit$ | async)?.userId === user.value.id &&
                  (edit$ | async)?.addressIndex !== null)
              "
            >
              <td>{{ user.value.firstName }}</td>
              <td>{{ user.value.lastName }}</td>
              <td>{{ user.value.userName }}</td>
              <td>{{ user.value.email }}</td>
              <td>{{ user.value.phone }}</td>
              <td *ngIf="isAuth$ | async">
                <button
                  type="button"
                  class="btn btn-outline-success me-2"
                  (click)="onEdit(user.value.id, null)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onDelete(user.value.id, i, null)"
                >
                  Delete
                </button>
              </td>
            </tr>
            <tr
              class="collapse"
              [formGroupName]="i"
              [ngClass]="{ show: (opened$ | async) === user.value.id }"
            >
              <td colspan="6">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Address Type</th>
                      <th scope="col">Country</th>
                      <th scope="col">City</th>
                      <th scope="col">Postal Code</th>
                      <th scope="col">Address</th>
                      <th scope="col" *ngIf="isAuth$ | async">Actions</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="userAddress">
                    <ng-container
                      *ngFor="
                        let address of getUserAddresses(i).controls;
                        let j = index
                      "
                    >
                      <tr
                        [formGroupName]="j"
                        style="vertical-align: middle"
                        *ngIf="
                          (edit$ | async)?.userId !== user.value.id ||
                          (edit$ | async)?.addressIndex !== j
                        "
                      >
                        <td>
                          {{ address.value.addressType }}
                        </td>
                        <td>{{ address.value.country }}</td>
                        <td>{{ address.value.city }}</td>
                        <td>{{ address.value.postalCode }}</td>
                        <td>{{ address.value.address }}</td>
                        <td *ngIf="isAuth$ | async">
                          <button
                            type="button"
                            class="btn btn-outline-success me-2 edit"
                            (click)="onEdit(user.value.id, j)"
                          >
                            Edit
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger me-2"
                            [disabled]="
                              getUserAddresses(i).controls.length === 1
                            "
                            (click)="onDelete(user.value.id, i, j)"
                          >
                            Delete
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary"
                            (click)="onAddNewAddressField(i)"
                          >
                            Add new
                          </button>
                        </td>
                      </tr>
                      <tr
                        [formGroupName]="j"
                        *ngIf="
                          (edit$ | async)?.userId === user.value.id &&
                          (edit$ | async)?.addressIndex === j
                        "
                      >
                        <td>
                          <select
                            class="form-select"
                            formControlName="addressType"
                          >
                            <option disabled selected>
                              Choose address type
                            </option>
                            <option value="Shipment_Address">
                              Shipment Address
                            </option>
                            <option value="Billing_Address">
                              Billing Address
                            </option>
                            <option value="Home_Address">Home Address</option>
                          </select>
                        </td>
                        <td *ngIf="isAuth$ | async">
                          <select class="form-select" formControlName="country">
                            <option disabled selected>Choose country</option>
                            <option
                              [value]="country.name"
                              *ngFor="let country of countries"
                            >
                              {{ country.name }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            formControlName="city"
                          />
                        </td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            formControlName="postalCode"
                          />
                        </td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            formControlName="address"
                          />
                        </td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-outline-success me-2"
                            [disabled]="getUserAddressControls(i, j).invalid"
                            (click)="onSave(user.value.id, i)"
                          >
                            Save
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger me-2"
                            (click)="onCancel(i, j)"
                          >
                            Cancel
                          </button>
                        </td>
                      </tr>

                      <tr *ngIf="getUserAddressControls(i, j).invalid">
                        <td>
                          <div
                            *ngIf="
                              getUserAddressControls(i, j).get('addressType')
                                ?.errors
                            "
                          >
                            <p
                              class="text-danger"
                              *ngIf="
                                getUserAddressControls(i, j).get('addressType')
                                  ?.errors?.required
                              "
                            >
                              Address type is required
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            *ngIf="
                              getUserAddressControls(i, j).get('country')
                                ?.errors
                            "
                          >
                            <p
                              class="text-danger"
                              *ngIf="
                                getUserAddressControls(i, j).get('country')
                                  ?.errors?.required
                              "
                            >
                              Country is required
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            *ngIf="
                              getUserAddressControls(i, j).get('city')?.errors
                            "
                          >
                            <p
                              class="text-danger"
                              *ngIf="
                                getUserAddressControls(i, j).get('city')?.errors
                                  ?.required
                              "
                            >
                              City is required
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            *ngIf="
                              getUserAddressControls(i, j).get('postalCode')
                                ?.errors
                            "
                          >
                            <p
                              class="text-danger"
                              *ngIf="
                                getUserAddressControls(i, j).get('postalCode')
                                  ?.errors?.required
                              "
                            >
                              Postal code is required
                            </p>
                            <p
                              class="text-danger"
                              *ngIf="
                                getUserAddressControls(i, j).get('postalCode')
                                  ?.errors?.pattern
                              "
                            >
                              Postal code can only be digits
                            </p>
                          </div>
                        </td>
                        <td>
                          <div
                            *ngIf="
                              getUserAddressControls(i, j).get('address')
                                ?.errors
                            "
                          >
                            <p
                              class="text-danger"
                              *ngIf="
                                getUserAddressControls(i, j).get('address')
                                  ?.errors?.required
                              "
                            >
                              Address is required
                            </p>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </form>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  [ngStyle]="{ display: isShowPopup ? 'block' : 'none' }"
  [ngClass]="{ show: isShowPopup }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete warning</h5>
        <button
          type="button"
          class="close btn btn-outline-secondary"
          data-dismiss="modal"
          aria-label="Close"
          (click)="onCancelDelete()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure?</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="onCancelDelete()"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="delete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
