<label [for]="inputId" [class]="labelClasses" *ngIf="labelText !== ''">{{
  labelText
}}</label>
<select
  [name]="inputId"
  [attr.id]="inputId"
  [class]="inputClasses"
  [required]="isRequired"
  (blur)="onTouched()"
  (change)="onSelect($event)"
>
  <option *ngIf="disabledSelectedOption !== ''" disabled value="">
    {{ disabledSelectedOption }}
  </option>
  <option
    *ngFor="let option of options"
    [selected]="value === option.value"
    [value]="option.value"
  >
    {{ option.name }}
  </option>
</select>
<atom-input-errors
  *ngIf="!control?.valid && control?.touched"
  [validationErrors]="control?.errors"
  [fieldText]="labelText"
></atom-input-errors>
