<div class="container">
  <h2 class="text-center">Find users</h2>
  <hr />
  <form [formGroup]="findUserForm" (ngSubmit)="onSubmit()" class="row g-3 mb-4">
    <div class="col-6">
      <atom-input-with-label
        inputType="text"
        inputId="firstName"
        labelText="First name"
        [isRequired]="false"
        formControlName="firstName"
      ></atom-input-with-label>
    </div>
    <div class="col-6">
      <atom-input-with-label
        inputType="text"
        inputId="lastName"
        labelText="Last name"
        [isRequired]="false"
        formControlName="lastName"
      ></atom-input-with-label>
    </div>
    <div class="col-4">
      <atom-input-with-label
        inputType="text"
        inputId="userName"
        labelText="User name"
        [isRequired]="false"
        formControlName="userName"
      ></atom-input-with-label>
    </div>
    <div class="col-4">
      <atom-input-with-label
        inputType="email"
        inputId="email"
        labelText="email"
        [isRequired]="false"
        formControlName="email"
      ></atom-input-with-label>
    </div>
    <div class="col-4">
      <atom-input-with-label
        inputType="tel"
        inputId="phone"
        labelText="Phone"
        [isRequired]="false"
        formControlName="phone"
      ></atom-input-with-label>
    </div>
    <div class="col-auto">
      <button type="reset" class="btn btn-secondary me-2">Reset</button>
      <button type="submit" class="btn btn-primary">Find</button>
    </div>
  </form>
  <hr />
</div>
<ng-template [ngIf]="users.length > 0">
  <app-users-list></app-users-list>
  <app-pagination></app-pagination>
</ng-template>
<ng-template [ngIf]="users.length <= 0">
  <div class="text-center" *ngIf="users.length <= 0">Users not found yet</div>
</ng-template>
